<p style="color: green"><%= notice %></p>

<h1>Worlds</h1>

<%= form_tag worlds_path, method: :get do %>
  <%= label_tag :timeline_id, "Filter by Timeline:" %>
  <div style="display: flex">
    <%= select_tag :timeline_id, options_for_select(@timelines.pluck(:id), params[:timeline_id]), include_blank: 'None' %>
    <%= submit_tag "Filter" %>
  </div>
<% end %>


<div id="worlds">
  <% @worlds.each do |world| %>
    <%= render world %>
    <p>
      <%= link_to "Show this world", world %>
    </p>

    <hr>
  <% end %>
</div>

<%= link_to "New world", new_world_path %>
